datasets/createdb.sql
datasets/game_reviews.csv
datasets/game_sales_data.csv
datasets/game_sales.csv
datasets/top_critic_scores_more_than_four_games.csv
datasets/top_critic_scores.csv
datasets/top_user_scores_more_than_four_games.csv
assets/video_game.png
